/*reset*/
body,ol,ul,h1,h2,h3,h4,h5,p,blockquote,th,td,dl,dt,dd,form,input,textarea,select{margin:0;padding:0;}
address,cite,code,dfn,b,em,var,i{font-style:normal;font-weight:normal;}
em,strong{font-weight:bold;}
h1,h2,h3,h4,h5,h6{font-weight:bold;}
ul,ol,li{list-style:none;}
table{border-collapse:collapse;border-spacing:0;}
th,td,caption{font-weight:normal;text-align:center;}
img{border:0;vertical-align:top;}
input,textarea,select{vertical-align:middle;outline:none;}
a{color:#666;text-decoration:none;}
a:hover,a:active{color:#31adfc;text-decoration:none;}
body{font:12px/20px Verdana,HELVETICA;color:#8c8c8c;background:#fff;}
.clearfix{zoom:1;}
.clearfix:after{display:block;content:'';height:0;clear:both;}
.fixed{position: fixed;_position: absolute;}

/*btn*/
.red-btn,.blue-btn,.green-btn,.gray-btn,.white-btn{*zoom:1;display:inline-block;border:0 none;border:0 none;margin-right:5px;padding:0 30px;overflow:visible;color:#fff;font:16px/38px "microsoft yahei";text-align:center;}
.red-btn{background:#e40077;}
.blue-btn{background:#32adfb;}
.green-btn{background:#7abd25;}
.gray-btn{background:#8c8c8c;}
.white-btn{border:1px solid #dadada;color:#bcbcbc;cursor:default;background:#e4e4e4;}
.red-btn:hover{color:#fff;background: #c71471;}
.blue-btn:hover{color:#fff;background:#2898df;}
.green-btn:hover{color:#fff;background:#63a115;}
.gray-btn:hover{color:#fff;background:#757575;}
.white-btn:hover{color:#bcbcbc;text-decoration:none;}

/* -table- */
table,table td,table th{border: 1px solid #ededed;border-collapse:collapse;}
table td{padding:10px;}
table th{padding:10px;font-weight:bold;color:#fff;background:#6bc2f8;}

/*弹出层*/
html,body{width:100%;height:100%;}
.ie6-body{background-image:url(about:blank);background-attachment:fixed;}
.mod-popup{visibility:hidden;}
.mod-popup, .popup-mask{z-index:10000;top:0;left:0;width:100%;height:100%;}
.mod-popup .popup-mask{opacity:0.5;filter:alpha(opacity=50);background:#000;}
.popup-box{z-index:10000;width:600px;background:#fff;}
.popup-box .popup-box-hd{height:50px;padding-left:15px;padding-right:15px;background:#32adfb;}
.popup-box .popup-box-hd h3{float:left;color:#fff;font:18px/50px "microsoft yahei";}
.popup-box .popup-box-hd .close-popup{float:right;width:25px;height:25px;margin-top:13px;color:#fff;text-align:center;font:14px/25px "microsoft yahei";}
.popup-box .popup-box-hd .close-popup:hover{font-weight:bold;}
.popup-box .popup-box-bd{padding:10px;}
.popup-box .popup-con-box{display:none;}
.popup-box .popup-action{padding-top:15px;text-align:center;}

/*模拟列表*/
.popup-package-list{width:480px;margin:0 auto;padding-top:10px;}
.popup-package-list ul{margin-right:-20px;}
.popup-package-list .package-item{float: left;margin-right:20px;margin-bottom:20px;}
.popup-package-list .package-item a{display:block;width:100px;border:1px solid #ccc;line-height:30px;text-align:center;}
.popup-package-list .package-item a:hover{display:block;border:1px solid #31adfc;}

.example-show{padding-top:20px;}











