.container{padding:30px;}

.certs .certs-item{height:33px;margin-top:10px;}
.certs .certs-item01{background:url(../certs-pic01.jpg?__sprite) no-repeat;}
.certs .certs-item02{background:url(../certs-pic02.jpg?__sprite) no-repeat;}
.certs .certs-item03{background:url(../certs-pic03.jpg?__sprite) no-repeat;}
.certs .certs-item04{background:url(../certs-pic04.jpg?__sprite) no-repeat;}